body {
    background-image: url("fire.jpeg");

}

#container {
    display: grid;
    padding: 20px;
    width: 600px;
    height: 600px;
}

#biggercontainer {
    display: flex;
    justify-content: center;
    background-size: auto;
}

#container > div {
    border-color: black;
    background-color: red;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    align-self: center;
}

#container > div:hover {
    background-color: yellow;
}

div.hover {
    background-color: yellow !important;
}

button {
    height: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    background-size: auto;
}

#reset {
    margin-left: 15px;
}

h1 {
    text-align: center;
    margin: 0px;
    font-size: 50px;
    color: white; 
}